{% extends "_base_public.html" %}

{% block title %} 
{% if entries %}
    {% for entry in entries %}
        {{ entry.title }} 
    {% endfor %} on
{% endif %}
{{ blog.title }}
{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>
    
    <!-- Content Starts -->
    <div id="content">
    {% for entry in entries %}
        <!-- Page Starts -->
        <h2>{{ entry.title }}</h2>

        
            <!-- Post Starts -->
            <div class="post" class="post-9">
                {{ entry.content }}
            </div>
        <!-- Post Ends -->
    {% endfor %}
    </div>
    <!-- Content Ends -->
{% endblock %}