{% extends "admin_base.html" %}



{% block content %}


    <!-- Admin Full Width -->
    <div id="featured">
        <form method="post">
            <input type="hidden" id="object_key" name="object_key" value="{{ blog.key }}">
            <br />
            <fieldset style="">
                <legend>Setup and Configuraiton for this Blog</legend>
                
                <!--<div class="instructions"><b>This</b> is instructions on how to accomplish </div>-->
                <div class="required">
                    <label for="subject">Blog Title:</label>
                    <input type="text" id="title" name="title" value="{{ blog.title }}">
                </div>
                <div class="required">
                    <label for="from">Sub Title:</label>
                    <input type="text" size="100" id="subtitle" name="subtitle"  value="{{ blog.subtitle }}">
                </div>
                <div class="required">
                    <label for="from">Base URL:</label>
                    <input type="text" size="100" id="baseurl" name="baseurl"  value="{{ blog.baseurl }}">
                </div>
                <div class="required">
                    <label for="from">Feed URL:</label>
                    <input type="text" size="100" id="feedurl" name="feedurl"  value="{{ blog.feedurl }}">
                </div>
                <div class="optional">
                    <label for="template">Description:</label>
                    <textarea name="description" rows="4" cols="60" class="wide">{{ blog.description }}</textarea>
                </div>
                <div class="optional" style="">
                    <fieldset>
                        <legend>Choose Theme Layout</legend>
                        <label class="labelRadio" for="layout">
                            <input id="layout_3cola" class="inputRadio" type="radio" {% ifequal blog.layout '3cola' %}checked="checked"{% endifequal %} value="3cola" name="layout"/>
                            3 column, narrow on left and right, wide in center
                        </label>
                        <label class="labelRadio" for="layout">
                            <input id="layout_3colb" class="inputRadio" type="radio" {% ifequal blog.layout '3colb' %}checked="checked"{% endifequal %} value="3colb" name="layout"/>
                            3 columns, 2 narrow cols on right
                        </label>
                        <label class="labelRadio" for="layout">
                            <input id="layout_2cola" class="inputRadio" type="radio" {% ifequal blog.layout '2cola' %}checked="checked"{% endifequal %} value="2cola" name="layout"/>
                            2 columns, narrow on right
                        </label>
                        <label class="labelRadio" for="layout">
                            <input id="layout_2colb" class="inputRadio" type="radio" {% ifequal blog.layout '2colb' %}checked="checked"{% endifequal %} value="2colb" name="layout"/>
                            2 columns, narrow on left
                        </label>
                    </fieldset>
                </div>
                <div class="optional">
                    <label for="area1">Footer1:</label>
                    <textarea name="area1" rows="4" cols="60" class="wide">{{ blog.area1 }}</textarea>
                </div>
                <div class="optional">
                    <label for="area2">Footer2:</label>
                    <textarea name="area2" rows="4" cols="60" class="wide">{{ blog.area2 }}</textarea>
                </div>
                <div class="optional">
                    <label for="area3">Footer3:</label>
                    <textarea name="area3" rows="4" cols="60" class="wide">{{ blog.area3 }}</textarea>
                </div>
                <div class="optional">
                    <label for="analyticsjs">Analytics Javascript:</label>
                    <textarea name="analyticsjs" rows="4" cols="60" class="wide">{{ blog.analyticsjs }}</textarea>
                </div>
                <div class="optional">
                    <label for="analyticsjs">Comment Javascript:</label>
                    <textarea name="commentjs" rows="4" cols="60" class="wide">{{ blog.commentjs }}</textarea>
                </div>
            </fieldset>
            <div class="actions">
                    <input type="submit" class="primaryAction" id="submit" value="Save &#187;">
                    &nbsp;&nbsp;<a href="#" id="cancelnode">cancel</a>
            </div>

        </form>
    </div>
    <!-- Featured Ends -->
    

{% endblock %}